Flask
flask_sqlalchemy
flask_jwt_extended
flask_login
python-dotenv
requests
yt-dlp
cfscrape
pytubefix
stripe
Werkzeug
fake-headers
numerize-denumerize
urllib3==1.26.16
psycopg2-binary
flask-cors
beautifulsoup4
